$background-black: #000;
$background-pale: grey;
$stars: url("stars.jpg");

.navbar {
    background-color: $background-black;
    min-height: 50px;
    div {
        color: white;
    }
}
body {
    background-image: url("https://images.wallpaperscraft.com/image/stars_sky_night_113553_1920x1080.jpg");
    background-color: black;
   }

.footer {
    background-color: $background-black;
    color: $background-pale;
    padding: 20px;
}

.carousel {
    background: $background-black;
   
    
    .carousel-item {
        height: 400px;
        p, h5 {
            color: black;
        }
        img {
          position: absolute;
          top: 10px 10px 10px 0px;
          min-height: 400px;
        }
    }

}

#loginModal, #signupModal, #wellcomeModal {
    .modal-header{
        background: black;
        color: floralwhite;
    }
    .modal-body {
        background-image: url("https://images.wallpaperscraft.com/image/stars_sky_night_113553_1920x1080.jpg");
        color: floralwhite;
    }
    .close {
        color: floralwhite;
    }
}

#news {
    padding: 30px 0px 10px 0px;
}

#question {
    padding: 50px;
}
.zo {
    color: black;
}
.yo {
   
    z-index:10;
    color:black;
    text-align:center;
    top:90%;
    left:70%;
    bottom:auto;
    -webkit-transform:translate(0, -50%);
    -ms-transform:translate(0, -50%);
    transform:translate(0, -50%);
    }