.navbar {
  background-color: #000;
  min-height: 50px; }
  .navbar div {
    color: white; }

body {
  background-image: url("https://images.wallpaperscraft.com/image/stars_sky_night_113553_1920x1080.jpg");
  background-color: black; }

.footer {
  background-color: #000;
  color: grey;
  padding: 20px; }

.carousel {
  background: #000; }
  .carousel .carousel-item {
    height: 400px; }
    .carousel .carousel-item p, .carousel .carousel-item h5 {
      color: black; }
    .carousel .carousel-item img {
      position: absolute;
      top: 10px 10px 10px 0px;
      min-height: 400px; }

#loginModal .modal-header, #signupModal .modal-header, #wellcomeModal .modal-header {
  background: black;
  color: floralwhite; }

#loginModal .modal-body, #signupModal .modal-body, #wellcomeModal .modal-body {
  background-image: url("https://images.wallpaperscraft.com/image/stars_sky_night_113553_1920x1080.jpg");
  color: floralwhite; }

#loginModal .close, #signupModal .close, #wellcomeModal .close {
  color: floralwhite; }

#news {
  padding: 30px 0px 10px 0px; }

#question {
  padding: 50px; }

.zo {
  color: black; }

.yo {
  z-index: 10;
  color: black;
  text-align: center;
  top: 90%;
  left: 70%;
  bottom: auto;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%); }
